{extend name="public/base" /}

{block name="seo"}
<title>{$title|default="权限列表"}</title>
<meta name="keywords" content="{$keywords|default='闪贷OA'}">
<meta name="description" content="{$desc|default='闪贷OA系统'}">
</head>
<body>
{/block}

{block name="content"}
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 权限管理 <span class="c-gray en">&gt;</span> 权限列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <div class="text-c">
                <form class="Huiform" method="post" action="" target="_self">
                    <input type="text" value="{$keywords ? $keywords : ''}" class="input-text" style="width:250px" placeholder="权限名称" id="keywords" name="keywords">
                    <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜权限节点</button>
                </form>
            </div>
            <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> <a href="/index/permission/store" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加权限节点</a></span></div>
            <table class="table table-border table-bordered table-bg">
                <thead>
                <tr>
                    <th scope="col" colspan="7">权限节点 <span class="r">共有数据：<strong>{$count}</strong> 条</span></th>
                </tr>
                <tr class="text-c">
                    <th width="5%">ID</th>
                    <th width="20%">权限名称</th>
                    <th width="20%">权限码</th>
                    <th width="35%">权限url</th>
                    <th width="20%">操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name='permission_menu' id='vo'}
                    <tr class="text-c">
                        <td>{$vo.perm_id}</td>
                        <td>{$vo.name}</td>
                        <td>{$vo.code}</td>
                        <td>{$vo.page_url}</td>
                        <td>
                            <a title="编辑" href="javascript:;" onclick="admin_permission_edit('权限修改','/index/permission/edit?perm_id={$vo.perm_id}','1','700','700')" class="ml-5" style="text-decoration:none">
                                <i class="Hui-iconfont">&#xe6df;</i>修改
                            </a>
                            <a title="删除" href="javascript:;" onclick="admin_permission_del(this,'{$vo.perm_id}')" class="ml-5" style="text-decoration:none">
                                <i class="Hui-iconfont">&#xe6e2;</i>删除(谨慎操作)
                            </a>
                        </td>
                    </tr>
                {/volist}
                </tbody>
            </table>

            <!--显示分页按钮-->
            <div class="container">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">{$permission_menu->render()}</div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </article>
    </div>
</section>

{/block}

{block name="js"}
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    $(function(){

        $('.table-sort tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
    });

    /*权限-编辑*/
    function admin_permission_edit(title,url,id,w,h){
        layer_show(title,url,w,h);
    }

    //删除
    function admin_permission_del(obj,id){
        layer.confirm('角色删除须谨慎，确认要删除吗？',function(index){
            //此处请求后台程序，下方是成功后的前台处理……
            $.ajax({
                url: "/index/permission/delete",
                type:'post',
                data:{perm_id:id},
                success: function(data){

                        $(obj).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});

                }});
        });
    }
    /*用户-添加*/
    /*function member_add(title,url,w,h){
     layer_show(title,url,w,h);
     }
     /!*用户-查看*!/
     function member_show(title,url,id,w,h){
     layer_show(title,url,w,h);
     }
     /!*用户-停用*!/
     function member_stop(obj,id){
     layer.confirm('确认要停用吗？',function(index){
     $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_start(this,id)" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
     $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
     $(obj).remove();
     layer.msg('已停用!',{icon: 5,time:1000});
     });
     }

     /!*用户-启用*!/
     function member_start(obj,id){
     layer.confirm('确认要启用吗？',function(index){
     $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_stop(this,id)" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
     $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
     $(obj).remove();
     layer.msg('已启用!',{icon: 6,time:1000});
     });
     }
     /!*用户-编辑*!/
     function member_edit(title,url,id,w,h){
     layer_show(title,url,w,h);
     }
     /!*密码-修改*!/
     function change_password(title,url,id,w,h){
     layer_show(title,url,w,h);
     }
     /!*用户-删除*!/
     function member_del(obj,id){
     layer.confirm('确认要删除吗？',function(index){
     $(obj).parents("tr").remove();
     layer.msg('已删除!',{icon:1,time:1000});
     });
     }*/
</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}

</body>
</html>