<!--_menu 作为公共模版分离出去-->
<aside class="Hui-aside">
	
	<div class="menu_dropdown bk_2">
		{foreach name=":session('menu_user_id')" item="val" key="key"}
		<dl id="{$key}">
			<dt {if condition="(isset($active_menu) && (0 === strpos($active_menu, $key)))"} class="selected"{/if}>{$val['name']}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd {if condition="(isset($active_menu) && (0 === strpos($active_menu, $key)))"} style="display: block;"{/if}>
				<ul>
					{foreach name="val['children']" item="v" key="k"}
					<li {if condition="(isset($active_menu) && ($active_menu === $key.'.'.$k))"} class='current' {/if}><a href="{$v.page_url}">{$v.name}</a></li>
					{/foreach}
				</ul>
			</dd>
		</dl>
		{/foreach}

</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!--/_menu 作为公共模版分离出去-->